.body {
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  background: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}
.main-content {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding-left: 88px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 40px;
  color: white;
}

.wrapper {
  display: flex;
  background: #ffffff;
  max-width: 1200px;
  margin: auto;
}

.head1 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;

  color: #000000;
}
.mb-3 {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
